@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.video {
  &__container {
    border-radius: 5px;
    position: relative;
    z-index: 5;
  }

  &__input {
    margin-top: 1rem;
    cursor: pointer;
  }

  &__videoFeed {
    width: 100%;
    height: min(65vw, 50rem);
    display: block;
  }

  // &__overlay {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translateX(-50%) translateY(-50%);
  //   width: min(32vw, 24rem);
  //   height: min(42.6vw, 32rem);
  //   border: 2px dashed #fff;
  //   border-radius: 60%;

  //   &--on {
  //     display: block;
  //   }

  //   &--off {
  //     display: none;
  //   }
  // }
}
