.verification-failed {

    &__background {
        width: 375px;
        background-image: url("../../assets/images/VFailed.svg");
        height: 76rem;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: center;
        position: relative;
        top: -40px;
        border-radius: 50px;
        z-index: 0;
    }
    
  
    &__failed {
        width: 100px;
        height: 100px;
        position: relative;
        z-index: 1000;
        top: -600px;
        left: 140px;
        animation: fadein 2s;

        @keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    }
  }
  