@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.home-page {
  width: 100%;
  background-image: url('./../../assets/images/background.PNG');
  height: 76rem;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: center;
  position: relative;

  &__button {
    position: absolute;
    left: 19.5rem;
    top: 67.4rem;
    padding: 1.7rem 2rem;
    width: 16.5rem;
    background-color: #e75b4c;
    border: none;
    border-radius: 20rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;

    &:active {
      background-color: darken(#e75b4c, 5%);
    }
  }
}
